html{
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;
    overflow-y: scroll;
  overflow-x: hidden;
}
body{
    font-family: 'Courier New', Courier, monospace !important;
    margin:0;
    padding:0;
    background-color: #24283b !important;
    color: whitesmoke !important;
}
/*start of general styles */
a{
    text-decoration: none !important;
}
img.filter {
	-webkit-filter: drop-shadow(5px 2.5px 5px #020514);
	filter: drop-shadow(5px 2.5px 5px #020514);
}
i{
  color:rgb(102, 82, 82);
}
.section-gap{
   padding-top: 25vh;
}

/* end of general styles */

/* start of navbar styles */
li>a:hover{
    color:rgb(66, 75, 83) !important
}
/* Remove border from toggler */
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
/* .navbar-toggler{
  display:flex !important;
  justify-content:flex-end;
  align-items:flex-end;
  flex-direction: column;
} */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #e74c3c;
    display: block;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

/* Adds Space between the lines */
/* .middle-bar{
    margin: 5px 0;
    width: 20px;
}
.bottom-bar{
  width:10px;
} */
.middle-bar{
  margin:5px 0;
}
/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: #777777;
}

.bg-brand{
    color: #944239 !important;
}
/* end of navbar styles */

/*  */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  -webkit-transition: transform 0.25s ease-out;
  -moz-transition: transform 0.25s ease-out;
  -ms-transition: transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

/* end of general styles */
/* start of banner */
.icon{
    display:flex;
    justify-content:center;
}
i{
    font-size: 40px;
}
/* scroll-down indicator */
@media only screen and (max-width: 1000px){
    .box{
        display:none !important;
    }
    .scroll-down{
      display: none;
    }
    .box>a{
        display:none;
    }
}
.scroll-down .col-12{
    width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -15rem;
}
.box{
	transform: translate(-50%, -50%);
	cursor: pointer;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
.box a{
 margin: 0 auto;
}
.box a{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	transform: rotate(45deg);
	animation: animate 2s infinite;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-animation: animate 2s infinite;
}

.box span:nth-child(2)
{
	animation-delay: -0.2s;
}

.box span:nth-child(3)
{
	animation-delay: -0.4s;
}

@keyframes animate{
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
		-webkit-transform: rotate(45deg) translate(-20px, -20px);
		-moz-transform: rotate(45deg) translate(-20px, -20px);
		-ms-transform: rotate(45deg) translate(-20px, -20px);
		-o-transform: rotate(45deg) translate(-20px, -20px);
}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
		-webkit-transform: rotate(45deg) translate(20px, 20px);
		-moz-transform: rotate(45deg) translate(20px, 20px);
		-ms-transform: rotate(45deg) translate(20px, 20px);
		-o-transform: rotate(45deg) translate(20px, 20px);
}
}
/* end of banner */


/* start of about */
.about{
    scroll-behavior: smooth; 
}
.profile-picture{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* p{
    font-size: 32px;
} */
/* overrides the background-color using the background color of the body */
.bg-body{
    background-color: #24283b !important;
}
.bg-cards{
    background-color: #242636 !important;
}
.rounded-cards{
    border-radius: 40px !important;
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    -ms-border-radius: 40px !important;
    -o-border-radius: 40px !important;
}
/* Left social media links */
@media only screen and (max-width: 1400px){
    .social-media{
        display: none;
    }
}
.bplQwv {
    width: 40px;
    position: fixed;
    bottom: 0;
    left: 40px;
    right: auto;
    z-index: 10;
    color: var(--light-slate);
  }
  .bplQwv:hover {
    color: var(--light-slate);
  }
  .jruSna svg {
    transition: 0.5s;
    width: 20px;
    height: 20px;
    margin-bottom: 30px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;
}
  .jruSna li {
    display: inline;
    height:400px;
    width:400px;
  }
  
  .jruSna li a svg:hover {
   transform: translateY(-5px);
   z-index: 2;
   -webkit-transform: translateY(-5px);
   -moz-transform: translateY(-5px);
   -ms-transform: translateY(-5px);
   -o-transform: translateY(-5px);
  }
  .jruSna ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  .jruSna:after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin-left: 10px;
    background-color: gray;
  }
  /* start of footer */
  footer p{
    font-size: 20px;
    color: var(--light-slate);
  }

/* start of skills */
.bg-skills{
    background-color: #1A2454 !important;
}

/* style skills entire area... parent div */
.skills {
  text-align: center;
  padding: 3rem 2rem;
  margin: 3rem auto;
  /* -webkit-box-shadow: 2px 2px 20px 2px #777;
  -moz-box-shadow: 2px 2px 20px 2px #7777;
  box-shadow: 2px 2px 20px 2px #777; */
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* style all icons */
.icon {
  font-size: 60px;
  padding: 2rem 1rem;
  color: #6c50b8;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}

/* style all icon text */
.icon p {
  color: #000;
  margin: 10px 0 0 0;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: lighter;
}

/* hover state for icons... work in progress :) */
i.icon:hover {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

/* style specific text for specific icons */
.devicon-css3-plain p {
  text-transform: uppercase !important;
  color: orange;
} 

/* how to style a specific icon */
.devicon-github-plain {
  color: #000;
}

/* small screens media query */
@media only screen and (max-width: 600px) {
  .icon {
    padding: 20px 0 0 0;
  }
  
  .skills {
  text-align: center;
  padding: .5rem 0;
  margin: .5em auto;
	box-shadow: none;
}


  
/*   make entry-level skill icons invisible on smaller tablets and phones */
  .devicon-html-plain,
  .devicon-css3-plain,
  .devicon-heroku-plain,
  .devicon-python-plain,
  .devicon-javascript-plain {
    display: none;
  }
  
}
/* enf of skills */

/* start of project */
.project:hover{
    box-shadow: 5px 5px 5px 5px#141d2e !important;
}
@media only screen and (max-width: 786px) {
 .list-inline>li:not(:last-child)::after{
  content: "," !important;
 } 
 /* .project-2{
  background-image: url("../assets/projects/google-search-clone.png");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(1px);
  -webkit-filter: blur(1px);
} */
 /* .project-2{
  color: #141d2e !important;
 } */
}
.list-inline>li:not(:last-child)::after{
  content: "•";
  color: lightgrey;
  margin-left: 1rem;
}
.list-inline-item{
  color:rgb(158, 138, 138);
}
/* end of projects section */
.certificate>a>img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
@media only screen and (max-width: 1000px) {
  .go-top{
    display: none !important;
  }
}
  

/* start of contact me section */
#contact {
  background-color: #24283b !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: 80px 50px;
  display: flex;
  flex-wrap: wrap;
}

.contact-links, .contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 10% 5%;
}


.contact-links {
  background-color: #1f2e43;
  background:
    radial-gradient(
      circle at 55% 92%, #426691 0 12%, transparent 12.2%
    ), 
    radial-gradient(
      circle at 94% 72%, #426691 0 10%, transparent 10.2%
    ), 
    radial-gradient(
      circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%
    ), 
    radial-gradient(
      circle at 0% 0%, #263a53 0 40%, transparent 40.2%
    ), 
    #1f2e43;
  border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
  background-color: #ffffff8f;
  border-radius: 0 10px 10px 0;
}

@media only screen and (max-width: 800px) {
  .contact-links, .contact-form-wrapper {
    width: 100%;
  }
  
  .contact-links {
    border-radius: 10px 10px 0 0;
  }
  
  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
}

h2 {
  font-family: 'Arimo', sans-serif;
  color: #fff;
  font-size: clamp(30px, 6vw, 60px);
  letter-spacing: 2px;
  text-align: center;
  transform: scale(.95, 1);
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.link {
  margin: 10px;
  cursor: pointer;
}

.contact-img {
  width: 45px;
  height: 45px;
  filter:     hue-rotate(220deg)    drop-shadow(2px 4px 4px #0006);
  transition: 0.2s;
  user-select: none;
  -webkit-filter: ;
}

.contact-img:hover {
  transform: scale(1.1, 1.1);
}

.contact-img:active {
  transform: scale(1.1, 1.1);
  filter: 
    hue-rotate(220deg)
    drop-shadow(2px 4px 4px #222)
    sepia(0.3);
}

.form-item {
  position: relative;
}

label, input, textarea {
  font-family: 'Poppins', sans-serif;
}

label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

input, textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}

input:focus+label, 
input:valid+label, 
textarea:focus+label, 
textarea:valid+label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all .225s ease;
}

.submit-btn {
  background-color: #fd917e;
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-family: "Poppins",sans-serif;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

@media only screen and (max-width: 800px) {
  h2 {
    font-size: clamp(40px, 10vw, 60px);
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: clamp(30px, 12vw, 60px);
  }
  
  .links {
    padding-top: 30px;
  }
  
  .contact-img {
    width: 38px;
    height: 38px;
  }
}

.go-top {
  position:fixed;
  bottom: 10%;
  right: 5%;
  padding:20px;
  display:none;
  cursor: pointer;
	-webkit-font-smoothing: antialiased;
}
.go-top:after {
  font-family: FontAwesome;
  content: "\f106";
	background-color: #E5E8F0;
	padding: 10px 15px;
  color: #6a6e7c;
  position: absolute; 
  bottom:10px;
  font-size: 28px;
}

.go-top-text {
	position: absolute;
	width: 60px;
	text-align: center;
	font-family: 'Questrial';
	line-height: 1.5;
	letter-spacing: 3px;
	font-size: 12px;
	margin: 20px 0 0 -4px;
}

.go-top:hover {
	transition: all .4s linear;
	transform: scale(1.1);
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	-ms-transition: all .4s linear;
	-o-transition: all .4s linear;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}
